In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
2 + 2

4

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/sales.csv")

In [4]:
df

                client purchase_date         product  price
0         Norma Fisher     2022-08-9  Vacuum cleaner    121
1         Norma Fisher    2022-08-13  Microwave oven    348
2         Norma Fisher    2022-08-12           Phone   1126
3       Jorge Sullivan    2022-08-10  Microwave oven    171
4      Elizabeth Woods    2022-08-26              TV   1766
...                ...           ...             ...    ...
14009       Jay Jacobs    2022-08-27  coffee machine    866
14010      Jacob Mckay    2022-08-27  Vacuum cleaner    423
14011      Susan Duran    2022-08-11  coffee machine   4476
14012      Susan Duran    2022-08-13          Laptop   2377
14013      Susan Duran    2022-08-23              TV   1892

[14014 rows x 4 columns]

In [5]:
df.head(5)

            client purchase_date         product  price
0     Norma Fisher     2022-08-9  Vacuum cleaner    121
1     Norma Fisher    2022-08-13  Microwave oven    348
2     Norma Fisher    2022-08-12           Phone   1126
3   Jorge Sullivan    2022-08-10  Microwave oven    171
4  Elizabeth Woods    2022-08-26              TV   1766